.about-container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center;
  /* padding-inlineabout: 15rem; */
  padding-block: 4rem;
  position: relative;
  z-index: 10;
  animation: fadeInDown;
  animation-duration: 1s;

}

.about-title {
  font-size: 3rem;
  color: var(--title-color);
  text-transform: uppercase;
  font-weight: 200;
  letter-spacing: 10px;
  text-align: center;
  /* margin-bottom: 7rem; */
}

.about-title span {
  color: var(--light-blue);
}
.aboutme-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  /* justify-content: space-around; */
}

.about-info-container {
  width: 30%;
}

.text-about {
  width: 100%;
  color: var(--title-color);
  font-size: 1.6rem;
  /* margin-top: 4rem; */
}

.img-about {
  width: 30rem;
  height: 40rem;
  background-size: cover;
  border-radius: 5%;
  overflow: hidden;
}

.img-about img {
  width: 100%;
  height: auto;
}

/* Skills section */



/* Responsive */
@media (max-width: 700px) {
  .aboutme-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* height: auto; */
  }
  .about-info-container {
    width: 90%;
  }

  .text-about {
    margin-top: 2rem;
  }
  .img-about {
    width: 80%;
    height: 100%;
    margin-bottom: 10rem;
  }

  .img-about img {
    background-size: cover;
    object-fit: cover;
  }
}