.home-container {
  /* background-color: #242424; */
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 3;


  
}


/* #tsparticles {
  position: absolute;
  left: calc(50% - 100px);
  top: calc(50% - 100px);
  margin: 0;
  padding: 0;
  width: 200px;
  height: 200px;
  z-index: 10;
} */

.home-image-container {

  display: inline-block;
  height: 23rem;
  width: 23rem;
  overflow: hidden;
  border-radius: 50%;

  margin-bottom: 3rem;
  animation: fadeIn;
  animation-duration: 3s;
  cursor: pointer;
  transition: all 1s easy;
  box-shadow: 0 0 0 2.8rem rgba(146, 131, 116, 0.1);
  animation: pulsee 1.5s infinite;
}

.home-image {
  width: 100%;
  height: auto;
  margin-top: -30px;
}

.home-subtitle {
  text-transform: uppercase;
  letter-spacing: 1rem;
  font-weight: 400;
  color: var(--subtitle-color);
  animation: fadeIn;
  animation-duration: 3s;
}

.home-title {
  color: var(--title-color);
  font-size: 5rem;
  font-weight: 400;
  letter-spacing: 3px;

}


@-webkit-keyframes pulsee {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
  }
  70% {
      -webkit-box-shadow: 0 0 0 5rem rgba(204,169,44, 0);
  }
  100% {
      -webkit-box-shadow: 0 0 0 5rem rgba(204,169,44, 0);
  }
}
@keyframes pulsee {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(146, 131, 116, 0.4);
    box-shadow: 0 0 0 0 rgba(146, 131, 116, 0.4);
  }
  70% {
      -moz-box-shadow: 0 0 0 3rem rgba(204,169,44, 0);
      box-shadow: 0 0 0 3rem rgba(204,169,44, 0);
  }
  100% {
      -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
      box-shadow: 0 0 0 0 rgba(204,169,44, 0);
  }
}
