.nav-container {
  position: fixed;
  top: 30%;
  left: 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  z-index: 100;
  /* filter: blur(6px); */
  padding: 1rem;
  border-radius: 5px;
  backdrop-filter: blur(6px);
}

.nav-link {
  text-transform: uppercase;
  color: var(--subtitle-color);
  /* color: white; */
  font-size: 1.2rem;
  padding: 1rem;
  border-radius: 2rem;
  border: 1px transparent;
}

.link {
  font-size: 3rem;
  /* margin-right: 3rem; */
  transition: all 0.5s ease;
  border: 1px solid var(--subtitle-color);
  color: var(--subtitle-color);
  padding: 1rem;
  border-radius: 50%;
  height: 6rem;
  width: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* :nth-child(){
  color: ;
} */

.link:hover {
  background-color: #458588;
  color: var(--title-color);
  /* border: 1px solid #458588; */
}

.active {
  background-color: #458588;
  color: var(--title-color);
}

/* .nav-link:hover{
  border: 1px solid green;
  color: green;
} */

@media (max-width: 700px) {
  .nav-container {
    flex-direction: row;
    top: 90%;
    /* bottom: 5%; */
    position: fixed;
    left: 0;
    right: 0;
    overflow: hidden;

  }
}